@using KenticoCloud.Compose
@model KenticoCloud.Deliver.ContentItem

@{
    ViewBag.Title = Model.System.Name;
    ViewBag.PageType = "LandingPage";

    var bannerUrl = Model.GetAssets("image").FirstOrDefault()?.Url;
}

<div class="landing-page">
    <div class="container">
        <section class="banner-section" style="background-image: url('@bannerUrl');">
            <div class="banner-text">
                <p>
                    @Model.GetString("title")
                </p>
            </div>
        </section>
    </div>
    <div class="container landing-page--container">
        @Html.EditableArea("LandingPageTeaser", Model.System.Id)
    </div>
    <div class="steps">
        <div class="container landing-page--container">
            @Html.EditableArea("LandingPageSteps", Model.System.Id)
        </div>
    </div>
    <div class="lectors">
        <div class="container landing-page--container">
            @Html.EditableArea("LandingPageLectors", Model.System.Id)
        </div>
    </div>
    <div class="container landing-page--container">
        @Html.EditableArea("LandingPageContacts", Model.System.Id)
    </div>
</div>

